--- 
commands: 
  create_post_dir: 
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_chmod_storage.sh: 
    content: |
        #!/usr/bin/env bash
        . /opt/elasticbeanstalk/support/envvars
        cd $EB_CONFIG_APP_CURRENT
        su -c "chmod -R 777 /var/app/current/storage" $EB_CONFIG_APP_USER
        su -c "chmod -R 777 /var/app/current/bootstrap/cache" $EB_CONFIG_APP_USER
    group: root
    mode: "000755"
    owner: root
